{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Rooms{% endblock %}</h1>
  {% if session_user() %}
    <a class="action" href="{{ url_for('poker.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for room in rooms %}
    <article class="post">
      <header>
        <div>
          <h1>{{ room.name }}</h1>
          <div class="about">by {{ room.author.username }} on {{ room.created.strftime('%Y-%m-%d') }}</div>
        </div>
        <a class="action" href="javascript:void(0);" onclick="askPassword('{{ room.temp_password}}', '{{room.id}}')" >Join</a>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block script %}
{% endblock %}



