{% extends 'base.html' %}

{% block header %}
    <h1>{{ room.name }} </h1>
{% endblock %}

{% block content %}
    <article class="post">
      <header>
        <div>
          <h1>{{ room.name }}</h1>
          <h1>Share this code: {{ room.temp_password }}</h1>
          <div class="about">Room leader: {{ room.author.username }}</div>

            </div>
            {% if session_user().id == room['author_id'] %}
                <a class="action" href="{{ url_for('poker.room_settings', room_id=room.id) }}">Edit Settings</a>
                <a class="action" href="javascript:void(0);" onclick="startRoom()">Start Game</a>
                <!--    TODO: SETTINGS-->
            {% endif %}
        </header>
        <ul id="messages"></ul>
        <form id="messageform" method="post">
            <input id="m" autocomplete="off"/>
            <input id="roomid" type="hidden" value="{{ room.id }}"/>
            <input id="username" type="hidden" value="{{ session_user().username }}"/>
            <button>Send</button>
        </form>
    </article>

{% endblock %}

{% block script %}
  <script>
    const ROOM_ID = "{{ room.id }}";
    const GAME_URL = "{{ url_for('poker.game', room_id=room.id) }}";
    joinRoom({{ session_user().id }}, ROOM_ID, '{{ session_user().username }}' );
  </script>
{% endblock %}


